<div class="container">

    <div class="jumbotron">
        <h1>Mmmmm Burgers</h1>
        <br>
        <h2>Make a Burger</h2>
        <panel>
            <form action="/api/burgers" method="POST">
                    <label for="new-burger">New Burger</label>
                    <input type="text" id="newburger" name="burger_name" value="">
                    <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </panel>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Burgers to Eat</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#unless this.devoured}}
                                {{> burgers/burger-block }}
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Burgers already Eaten</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#if this.devoured}}
                                {{> burgers/eaten-block }}
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>