
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    padding:30px 0px;
}
.jumbotron{
    background-image:url(../images/burg.jpg);
    background-size:cover;
    color:#fff;
}
.jumbotron h1{
    margin-bottom:72px;
    font-size:42pt;
}
form {
    display: flex;
    color:#fff;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

input{
    padding:5px;
    border-radius: 5px;
}

ul {
    list-style: none;
    margin-top:25px;
}
li{
    display:flex;
    justify-content: space-between;
}

@media only screen and (max-width:450px){
.jumbotron{
    width:100%;
}
form{
    flex-wrap:wrap!important;
    justify-content: center;
}
input{
    width:90%;
}
}