<li>
    <h5> {{this.id}} - {{this.burger_name}} </h5>
    <button type="button" class="trash-burger btn btn-danger" data-id="{{this.id}}"
        data-newDevoured="{{this.devoured}}">Delete</button>
</li>